.banner-img {
  margin-top: 60px;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
  /* border: 1px solid red; */
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid rgb(124, 223, 12); */
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid greenyellow; */

}

.f{
  /* border: 1px solid black; */
  padding-left: 10px;
}
.home-page .card-price {
  color: green;
  font-weight: bold;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}
/* ==================
filters
============== */
.filters h4 {
  /* margin-top: 100px; */
  /* color: gray !important; */
  font-weight: bolder;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
  /* border: 1px solid red; */
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}
/* =================================== */
.Pro_main_page{
  /* border: 1px solid red; */
  margin: 0;
  /* margin: 0 60px; */
  /* padding: 0 200px; */
  max-width: 1320px;
  padding: 20px 0px;
  /* padding: 0; */
}
.Filter_By_Category{
  /* border: 1px solid blue; */
  width: 300px;
  margin-top: 75px;
}
.All_Products_main_box{
  /* border: 1px solid yellow; */
  margin: 0;
  /* width: 100%; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 0;
}
.LoadMainBtn{
  border: none;
  /* border: transparent; */
  background-color: transparent;
  font-weight: bolder;
}
.LoadMainBtn:hover{
  color: #336699;
}
.pro_all_box{
  /* border: 1px solid rgb(12, 214, 46); */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.all_product-main-box-full-product{
  /* border: 1px solid brown; */
  display: flex;
  justify-content: center;
}
@media(max-width:540px){
  .All_Products_main_box{
    border: 1px solid red;
 /* text-align: center; */
    /* padding-left: 110px; */

  }
  .home-page h1 {
    border: 1px solid red;
    /* margin: 0; */
    /* padding: 0; */
  }
  .home-page .card {
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-left: 50px;
    /* padding-left: 90px; */
  }
  .pd{
    border: 1px solid red;
    /* margin: 0 auto; */
    /* margin-left: 10px; */
    padding-left: 110px;

  }
}
@media(max-width:414px){
  .pd{
    border: 1px solid red;
    /* margin: 0 auto; */
    /* margin-left: 10px; */
    padding-left: 50px;

  }
}
@media(max-width:390px){
  .pd{
    border: 1px solid red;
    /* margin: 0 auto; */
    /* margin-left: 10px; */
    padding-left: 30px;

  }
}
@media(max-width:375px){
  .pd{
    border: 1px solid red;
    /* margin: 0 auto; */
    /* margin-left: 10px; */
    padding-left: 30px;

  }
}